$icomoon-font-family: "wp-plugin-icons" !default;
$icomoon-font-path: "fonts" !default;

$wp-plugin-acf-alt: "\e907";
$wp-plugin-askimet-alt: "\e908";
$wp-plugin-askimet: "\e909";
$wp-plugin-duplicator: "\e90a";
$wp-plugin-ninja-forms: "\e90b";
$wp-plugin-updraft: "\e90c";
$wp-plugin-w3-total-cache: "\e90d";
$wp-plugin-woo-commerce: "\e90e";
$wp-plugin-wordfence: "\e90f";
$wp-plugin-wp-smush: "\e910";
$wp-plugin-acf: "\e900";
$wp-plugin-contact-form-7: "\e901";
$wp-plugin-divi: "\e902";
$wp-plugin-ithemes-security: "\e903";
$wp-plugin-jetpack: "\e904";
$wp-plugin-learnpress: "\e905";
$wp-plugin-yoast: "\e906";

