/* Old */
body {
  padding: 0 0 75px 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #8B9393;
  background: #fff;
}

header {
  height: 15vh;
  background: #2D3142;
  padding-top: 65px;
  padding-bottom: 200px;
}

header .content {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#logonav {
  display: inline-block;
  vertical-align: middle;
}

#logonav img {
  max-width: 35px;
  margin-bottom: -5px;
}

#logonav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  margin-top: -12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

#logonav a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #fff;
  height: 1px;
  width: 0%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#logonav a:hover:after {
  content: "";
  width: 100%;
}

#WPIconSearchWrap {
  float: right;
  display: inline-block;
  max-width: 800px;
  margin: 0px auto 25px auto;
}

#WPIconSearch {
  width: 300px;
  font-size: 10px;
  padding: 12px 20px 12px 15px;
  border-radius: 75px;
  border: none;
  box-shadow: none;
}

#WPIconSearchTable {
  background: #fff;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: -175px;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#WPIconSearchTable th {
  color: #717575;
  padding: 15px 12px;
  text-align: left;
}

#WPIconSearchTable td {
  text-align: left;
  padding: 15px 12px;
}

#WPIconSearchTable td:first-child {
  width: 15%;
  text-align: center  
}

#WPIconSearchTable td i {
  color: #8B9393;
  display: block;
  font-size: 3em;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#WPIconSearchTable tr:nth-of-type(2):hover i {
  color: #00e4bc; /* ACF */
}

#WPIconSearchTable tr:nth-of-type(3):hover i {
  color: #00e4bc; /* ACF alt */
}

#WPIconSearchTable tr:nth-of-type(4):hover i {
  color: #5e8e14; /* Askimet */
}

#WPIconSearchTable tr:nth-of-type(5):hover i {
  color: #5e8e14; /* Askimet alt */
}

#WPIconSearchTable tr:nth-of-type(6):hover i {
  color: #a62f00; /* Contact Form 7 */
}

#WPIconSearchTable tr:nth-of-type(7):hover i {
  color: #8f42ec; /* Divi */
}

#WPIconSearchTable tr:nth-of-type(8):hover i {
  color: #E93030; /* Duplicator */
}

#WPIconSearchTable tr:nth-of-type(9):hover i {
  color: #FFCD08; /* iThemes */
}

#WPIconSearchTable tr:nth-of-type(10):hover i {
  color: #00be28; /* Jetpack */
}

#WPIconSearchTable tr:nth-of-type(11):hover i {
  color: #553d80; /* LearnPress */
}

#WPIconSearchTable tr:nth-of-type(12):hover i {
  color: #ef4748; /* Ninja Forms */
}

#WPIconSearchTable tr:nth-of-type(13):hover i {
  color: #2dbfc5; /* W3 Total Cache */
}

#WPIconSearchTable tr:nth-of-type(14):hover i {
  color: #008cc1; /* Wordfence */
}

#WPIconSearchTable tr:nth-of-type(15):hover i {
  color: #96588a; /* WooCommerce */
}

#WPIconSearchTable tr:nth-of-type(16):hover i {
  color: #1abc9c; /* WP Smush */
}

#WPIconSearchTable tr:nth-of-type(17):hover i {
  color: #db6939; /* Updraft */
}

#WPIconSearchTable tr:nth-of-type(18):hover i {
  color: #a4286a; /* Yoast */
}

#WPIconSearchTable tr:last-child td {
  padding-bottom: 40px;
}

footer {
  margin-top: 75px;
  text-align: center;
}

footer a {
  position: relative;
  color: #2D3142;
  text-decoration: none;
  margin-left: 30px;
  margin-top: -12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

footer a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #2D3142;
  height: 1px;
  width: 0%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer a:hover:after {
  content: "";
  width: 100%;
}